.blog-right-container a {
	text-decoration: none !important;
}

.blog-right-page-title {
	text-decoration: underline;
}

marquee a span {
	color: #e9bf8b;
}

marquee a {
	text-decoration: none !important;
}

.blog-right {
	margin-bottom: 2rem;
}